body {
    background-color: white;
}

.about-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 4%;
    color: black;
}

.about-container>*{
    margin-bottom: 5%;
}