body {
    background-image: linear-gradient(#2B6DE0, #E53935);
}

.home-container {
    top: 30%;
    position: absolute;
    left: 5%;
    display: flex;
    flex-direction: column;
    color: white;
}
